/* Imports */
@font-face { 
    font-family: Jura;
    src: url(../fonts/Jura-VariableFont_wght.ttf);
}

/* Variables */
body {
    font-family: Jura;
    text-align: center;
    background-color: #f8f8f8;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.screen {
    width: 100vw; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 20px;
}

/* Intro Screen Specific Styles */
h1 {
    font-size: 2em; 
    margin-bottom: 10px; 
}

/* Game Screen Specific Styles */
#game-screen-h1 {
    font-size: 2em;
    margin-top: 4.5%; 
}

#rps-text {
    margin-top: 40px;
}

.rps-word {
    font-size: 2em;
    opacity: 0;
    display: inline-block;
    margin: 0 5px;
    transition: opacity 0.3s ease;
}

/* Image Styling */
img {
    max-width: 100%;
    max-height: 60vh; 
    height: auto; 
}

/* Button Styling */
button {
    font-size: 1.6em;
    color: white;
    background-color: #9fabff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.3s ease;
    margin-top: 20px; 
    padding: 15px 2vw;
}

button:hover {
    background-color: #6c8cff;
}

#play-button {
    display: block; 
    margin: 10px auto; 
    margin-bottom: 4.5%; 
}